extends layout

block settings
  - var page = 'class-scout project'

block content
  .dark-gray-bg
    .container
      .pad-container
        .row
          .col-xs-12.m-b-2-xs.start-md.center-xs
            a(href='/portfolio' class='no-under observable') Back to portfolio
        .row.middle-xs
          .col-md-7.col-xs-12
            h3.h35.type-black ClassScout
            h4 Lead UX and visual designer for the ClassScout mobile app.
            p.type-gs A few of my activities:
              ul
                li Client discovery and customer research.
                li Created wires, mockups and journey maps.
                li Designed the mobile and web experience.
                li Created a mobile animation video... that one →
          .col-md-5
            .phone-static
              img(class='full' src='/assets/portfolio/cs-tracker.png' alt='ClassScout Chat')
            .phone-video
              img(class='full' src='/assets/portfolio/iphone.png' alt='iPhone')
              video(autoplay loop)
                source(src='/assets/classscout.mp4')                
  //- mobile
  .light-gray-bg
    .container.proj-deets
      .pad-container-xs
        .row.middle-xs
          .col-xs-12
            h3 Mobile app for teachers.
            p.type-darkmagenta The ClassScout mobile app enables teachers to track behaviors of their students with just one swipe, so they can get back to their students.
          .col-md-4.col-xs-12
            img(class='full img-border m-b-1' src='/assets/portfolio/cs-1.png' alt='itinerary')
            p.small.center-text-xs Track behavior
          .col-md-4.col-xs-12
            img(class='full img-border m-b-1' src='/assets/portfolio/cs-2.png' alt='itinerary')
            p.small.center-text-xs Student insights
          .col-md-4.col-xs-12
            img(class='full img-border m-b-1' src='/assets/portfolio/cs-3.png' alt='itinerary')
            p.small.center-text-xs Admin settings
  //- pana web
  .primary-pop-bg
    .container.proj-deets
      .pad-container-xs
        .row.middle-xs.type-white
          .col-md-7.col-xs-12
            img(class='full' src='/assets/portfolio/cs-web.png' alt='web')
          .col-md-5.col-xs-12
            h3 Web version for teachers and administrators.
            p The web version allows teachers to also manage their students on their desktop. In addition, principals and administrators can manage multiple teachers and schools.
  //- summary
  .dark-gray-bg
    .container.proj-deets
      .pad-container
        .row
          .col-xs-12
            p ClassScout helps teachers and school leaders track, analyze, and share progress on student behaviors. With a mobile and desktop application, it’s always accessible.
