extends layout

block settings
  - var subheader = false;
  - var slug = 'err';
  
block content
  .container.m-t-2
    .pad-container
      .row
        .col-xs-12
          h3 Whoa! How did you end up here?
          a(href='/') Back to saftey
