extends layout

block settings
  - var subheader = false;
  - var slug = 'index';
  
block content
  .ccd2e7
    .container
      .pad-container
        .row.middle-xs
          .col-md-7.col-xs-12.m-b-1-xs
            img.full(src='/assets/big-wheel.jpg' alt='Big Wheel')
          .col-md-5.col-xs-12
            h2.tpe-black Hi there.
            h3.h35.type-secondary I'm Paul, a designer and developer living in Denver, CO.
            a.a-pop.observable.no-under(href='/portfolio') View portfolio
  .mid-gray-bg
    .container
      .pad-container-lg
        .row.middle-xs
          .col-md-4.col-xs-12.m-b-3-xs
            h3.type-black Plum Relish
            p Currently the VP of Product & Design at Plum Relish.
              br
              br
              | Our web (and mobile-friendly) application provides meals to thousands of hungry eaters.            
          .col-md-8.col-xs-12
            +img('plumrelish', 'png')(class='full img-pop')
  .ccd2e7
    .container
      .pad-container-lg
        .row.middle-xs
          .col-md-4.col-md-offset-1.col-xs-12
            .phone-static
              img.full(src='/assets/p-chat.png' alt='Pana Chat')
            .phone-video
              img.full(src='/assets/iphone.png' alt='iPhone')
              video(autoplay loop)
                source(src='/assets/p-vid.mp4')
                source(src='/assets/p-vid.webm')
          .col-md-7.col-xs-12.last-md.first-xs.m-b-3-xs
            .p-l-xs
              h3.type-black Pana
              p Previously the Head of Product (and designer) at Pana.
                br
                br
                | We made travel delightful through our concierge mobile and web products.              
            
  .mid-gray-bg
    .container
      .pad-container-lg
        .row
          .col-xs-12
            .row.middle-xs
              .col-md-4.col-xs-12.m-b-3-xs
                h3.type-black Deloitte Digital
                p Prior to Pana, I was a Senior/Lead UX Designer at Deloitte Digital.
                  br
                  br
                  | I worked on several large-scale mobile and web applications, mainly for government clients.                
              .col-md-8.col-xs-12
                +img('dd-hero', 'jpg')(class='full')
                
  .ccd2e7
    .container
      .pad-container-lg
        .row.middle-xs
          .col-md-7.col-xs-12
            h3.type-black Contributions
            p Outside of my full-time job, I teach UX and front-end courses at General Assembly. I'm also a mentor at 1776 and Galvanize, providing free design advice to emerging startups.
            p I've made a few (small) contributions to some popular UX books:
            ul
              li
                a.observable.no-under(href='https://www.nirandfar.com/hooked' target='_blank') Hooked, by Nir Eyal
              li
                a.observable.no-under(href='https://www.amazon.com/Designing-Behavior-Change-Psychology-Behavioral/dp/1449367623' target='_blank') Designing for Behavior Change, by Stephen Wendel
          .col-md-5.col-xs-12
            .row.middle-xs
              .col-md-4.col-xs-12.m-b-3-xs
                img.full.m-x-auto.mw-50-xs(src='/assets/ga-logo.png' alt='ga-logo')
              .col-md-4.col-xs-12.m-b-3-xs
                img.full.m-x-auto.mw-50-xs(src='/assets/1776-logo.png' alt='1776-logo')
              .col-md-4.col-xs-12.m-b-3-xs
                img.full.m-x-auto.mw-50-xs(src='/assets/galvanize-logo.png' alt='galvanize-logo')
            .space-4
            .row.between-xs            
              .col-md-5.col-xs-12.m-b-2
                img.full.m-x-auto.img-pop.mw-70-xs(src='/assets/hooked.png' alt='hooked')
              .col-md-5.col-xs-12
                img.full.m-x-auto.img-pop.mw-70-xs(src='/assets/designing-for-behavior-change.png' alt='hooked')            
            
              
