extends layout

block settings
  - var subheader = false;
  - var slug = 'index';
  
block content
  .white-bg
    .container
      .pad-container-top
        .row.top-xs
          .col-md-6.col-xs-12.first-md.last-xs
            img.full(src='/assets/paul-in-hand.jpg' alt='Paul Mobile')
          .col-md-6.col-xs-12.p-t-4-xs.left-text-md.center-text-xs
            h2.tpe-black Hi there!
            p.type-secondary I'm Paul, a designer and developer living in Denver, CO.
            p.type-secondary My passion is creating simple, usable, and beautiful technology products. I've worked on a number of mobile and web applications for Fortune 500 and government clients.
            p.m-b-3-xs
              a.observable.no-under(href='/portfolio') View portfolio
  .primary-pop-bg
    .container
      .pad-container-top
        .row.middle-xs.type-white
          .col-md-9.col-xs-12.first-md.last-xs
            img.full(src='/assets/portfolio/plumrelish.png' alt='Plum Relish')
          .col-md-3.col-xs-12.left-text-md.center-text-xs
            h3.type-black Plum Relish
            h6 Lead Designer & 
              br
              | Front-End Developer
            p Designed and built a web application delivering thousands of restaurant meals to hungry office workers.
  .mid-gray-bg
    .container
      .pad-container
        .row.middle-xs          
          .col-md-7.col-xs-12.last-md.first-xs.m-b-3-xs.left-text-md.center-text-xs
            .p-l-xs
              h3.type-black Pana
              p.type-secondary Previously Head of Product (and designer) at Pana, where we made travel delightful through our concierge mobile and web products.
              p.type-secondary.hide-xs.m-b-1 I also enjoy making animations in After Effects...            
              img.hide-xs(src='/assets/corner-down-left.svg')
          .col-md-4.col-md-offset-1.col-xs-12
            .phone-static
              img.full(src='/assets/p-chat.png' alt='Pana Chat')
            .phone-video
              img.full(src='/assets/iphone.png' alt='iPhone')
              video(autoplay loop)
                source(src='/assets/p-vid.mp4')
                source(src='/assets/p-vid.webm')
  .primary-pop-bg
    .container
      .pad-container-lg
        .row.type-white
          .col-xs-12
            .row.middle-xs
              .col-md-8.col-xs-12.m-b-3-xs.left-text-md.center-text-xs
                h3.type-black Deloitte Digital
                p.type-secondary Prior to Pana, I was a Senior (sometimes Lead) UX Designer at Deloitte Digital.
                  br
                  br
                  | I worked on several large-scale mobile and web applications, for government and commercial clients.
              .col-md-4.col-xs-12
                img.full(src='/assets/portfolio/ytb-final1.png')
                
  .mid-gray-bg
    .container
      .pad-container-lg
        .row.middle-xs
          .col-md-7.col-xs-12.left-text-md.center-text-xs
            h3.type-black Contributions
            p.type-secondary Outside of my full-time job, I teach UX and front-end courses at General Assembly. I'm also a mentor at 1776 and Galvanize, providing free design advice to emerging startups.
            p.type-secondary I've made a few (small) contributions to some popular UX books:
            p
              a.observable.no-under(href='https://www.nirandfar.com/hooked' target='_blank') Hooked, by Nir Eyal
            p.m-b-3-xs
              a.observable.no-under(href='https://www.amazon.com/Designing-Behavior-Change-Psychology-Behavioral/dp/1449367623' target='_blank') Designing for Behavior Change, by Stephen Wendel            
          .col-md-5.col-xs-12
            .row.middle-xs
              .col-md-4.col-xs-12.m-b-3-xs
                img.full.m-x-auto.mw-50-xs(src='/assets/ga-logo.png' alt='ga-logo')
              .col-md-4.col-xs-12.m-b-3-xs
                img.full.m-x-auto.mw-50-xs(src='/assets/1776-logo.png' alt='1776-logo')
              .col-md-4.col-xs-12.m-b-3-xs
                img.full.m-x-auto.mw-50-xs(src='/assets/galvanize-logo.png' alt='galvanize-logo')
            .space-4
            .row.between-xs            
              .col-md-5.col-xs-12.m-b-2
                img.full.m-x-auto.img-pop.mw-70-xs(src='/assets/hooked.png' alt='hooked')
              .col-md-5.col-xs-12
                img.full.m-x-auto.img-pop.mw-70-xs(src='/assets/designing-for-behavior-change.png' alt='hooked')            
            
              
