extends layout

block settings
  - var slug = 'hw project'

block content
  .dark-gray-bg
    .container
      .pad-container
        .row
          .col-xs-12.start-md.center-xs
            a(href='/portfolio' class='no-under observable') Back to portfolio
        .row.middle-xs
          .col-md-7.col-xs-12
            h3.h35.type-black HelloWallet
            h4 UX Product Manager & UX Designer
            
            p The mission of HelloWallet is to democratize access to financial advice. The web application helps individuals view, plan and manage all their financial information in one place. Like mint.com, but sold to companies and distributed as a free employee benefit.
            
            p I joined HelloWallet as a very early employee, and in true startup fashion, wore many hats. I originally started as more of a product manager, working closely with the CEO and business stakeholders, and transitioned into more UX. As UX designer, I built wireframes, performed user testing, and even coordinated with contract development teams.   
          .col-md-5
            .proj-deets
              img(class='full' src='/assets/portfolio/hw-mobile.png' alt='YTB')
  //- agent
  .light-gray-bg
    .container.proj-deets
      .pad-container-xs
        .row.middle-xs          
          .col-xs-12
            h3 From humble beginnings...
            p.type-darkmagenta Looking back on my old wires it's amazing we got off the ground. But we kept on iterating and iterating... and iterating.                                                  
        .row.middle-xs                    
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-01.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-02.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-03.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-04.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-05.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-06.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-07.jpg' data-action='zoom' class='full img-border')
          .col-md-3.col-xs-12.m-b-1
            img(src='/assets/portfolio/hw-08.jpg' data-action='zoom' class='full img-border')
  //- 
  .primary-pop-bg.type-white
    .container.proj-deets
      .pad-container-xs
        .row.middle-xs          
          .col-md-7.col-xs-12
            img(class='full' src='/assets/portfolio/hw-final.png' alt='web')
          .col-md-5.col-xs-12
            h3 Final product
            p HelloWallet was acquired by Morningstar in 2014 for $50M.
