extends layout

block settings
  - var slug = 'hw'

block content
  .project
    .dark-gray-bg
      .container.hero.pana-hero
        .pad-container-xs
          .row
            .col-xs-12
              a(href='/portfolio' class='btn-default btn-lightmagenta m-b-xs-0') Back to portfolio
          .row.middle-xs
            .col-md-7.col-xs-12
              h3.h35 HelloWallet
              h3 UX Designer & Product Manager at HelloWallet.
              
              p The mission of HelloWallet is to democratize access to financial advice. The web application helps individuals view, plan and manage all their financial information in one place. Like mint.com, but sold to companies and distributed as a free employee benefit.
              
              p I joined HelloWallet in the early days and lead the product vision of the first two major releases. I was with HelloWallet for over 4 years and engaged in every aspect of the the product development cycle.
              
              p Starting as the product manager, I switched and became the Head of UX. I lead research, testing, and design of the web and mobile application. I worked with the CEO directly to analyze our competition and market position. I created a wireframe for new features and tested before and after each build.          
            .col-md-5
              .proj-deets
                img(class='full' src='/assets/portfolio/hw-mobile.png' alt='YTB')
    //- agent
    .bg-lightmagenta
      .container.proj-deets
        .pad-container-xs
          .row.middle-xs
            .col-md-7
              img(class='full' src='/assets/portfolio/hw-old.png' alt='HW old')
            .col-md-5
              h3 From humble beginnings...
              p.type-darkmagenta Looking back on my old wires it's amazing we got off the ground. But we kept on iterating and iterating... and iterating.
    .bg-urple
      .container.proj-deets
        .pad-container-xs
          .row.middle-xs
            .col-md-4.col-xs-12
              h3 And iterating...              
            .col-md-8.col-xs-12
              img(class='full' src='/assets/portfolio/hw-old2.jpg' alt='HW old')
    //- 
    .ccd2e7
      .container.proj-deets
        .pad-container-xs
          .row.middle-xs          
            .col-md-7.col-xs-12
              img(class='full' src='/assets/portfolio/hw-final.png' alt='web')
            .col-md-5.col-xs-12
              h3.type-white Final product.
              p.type-white We received a Webby award and praise from the financial market. A leader in employee financial wellness, HelloWallet provides millions of Americans financial guidance.
              p HelloWallet was acquired by Morningstar in 2014 for $50M.
    
    //- summary
    .dark-gray-bg
      .container.proj-deets
        .pad-container-xs
          .row
            .col-xs-12.center-text-xs
              h4 The experience of the product focuses on members making better financial decisions. It nudges members using many behavioral psychology levers such as social proof, rewards, and expert choice. It's one of the few financial applications out there that actually puts the consumer first.
