extends layout

block settings
  - var slug = 'illustrations'  

block content  
  .primary-pop-bg
    .container
      .pad-container
        .row
          .col-xs-12
            h3 Illustrations
        .space-1
        .row
          each comic in comics
            - var url = comic
            .col-md-6.col-xs-12              
              img(class='full img-pop m-b-1' src='/assets/illustrations/' + url + '.png' alt= url)
