extends layout

block settings
  - var slug = 'logos'  

block content  
  .mid-gray-bg
    .container
      .pad-container
        .row
          .col-xs-12
            h3 Logos
        .space-1
        .row
          .col-md-4.col-xs-12.m-b-1
            img.full.img-border.img-pop(src='assets/logos/ninja-ghost-1.png')
          .col-md-4.col-xs-12.m-b-1
            img.full.img-border.img-pop(src='assets/logos/maze-logo.png')
          .col-md-4.col-xs-12.m-b-1
            img.full.img-border.img-pop(src='assets/logos/dg-logo-1.png')
