extends layout

block settings
  - var slug = 'marigold project'

block content
  .ccd2e7    
    .container
      .pad-container
        .row
          .col-xs-12
            a(href='/portfolio' class='no-under observable') Back to portfolio
        .space-2
        .row.middle-xs
          .col-xs-12
            h3.h35.type-black Marigold
            h4 Lead UX designer for Marigold
            p Thousands of companies perform a long and egregious activity known as due diligence. This is the process of monitoring and keeping tabs on the external vendors associated with your company.
            p For example, Walmart monitors its vendors to stay informed of any harmful press. Any harmful practices of its vendors may result in a bad reputation for Walmart.
            p The Marigold due diligence application allows users create a portfolio of companies to track. An alert triggers if changes occur inside the portfolio companies, such as a new CEO or new product.         
          .col-xs-12
            .proj-deets
              img(class='full' src='/assets/portfolio/mg-final.png' alt='YTB')
  //- agent
  .bg-lightgray
    .container.proj-deets
      .pad-container-xs
        .row.middle-xs
          .col-md-5.col-xs-12
            h3 Customer discovery & research.
            p.type-darkmagenta Before building, my team and I conducted interviews and conducted extensive research. The analysts had many ideas on making the mobile app a seamless process for the user.
          .col-md-7.col-xs-12
            img(class='full' src='/assets/portfolio/mg_background.png' alt='agent')
  //- mobile
  .bg-lightgray
    .container.proj-deets
      .pad-container-xs
        .row.middle-xs            
          .col-md-7.col-xs-12
            img(class='full' src='/assets/portfolio/mg_process.png' alt='agent')
          .col-md-5.col-xs-12
            h3 Wireframing and design.
            p.type-darkmagenta My team and I continued to revise the flow of the unique client needs.
  
  //- summary
  .dark-gray-bg
    .container.proj-deets
      .pad-container
        .row
          .col-xs-12
            p This is one of the first products to come out of Deloitte. It set a high bar for a new series of products to come. Marigold achieved global recognition at the annual Deloitte Partner summit.​
