mixin img(name, ext)
  - var src = '/assets/' + name + '.' + ext
  img(class!=attributes.class src= src alt= name)
    
mixin imgBackground(url)
  - var src = '/assets/portfolio/backgrounds/bg-' + url + '.jpg'  
  img(class!=attributes.class src= src alt= url)
    
mixin imgProcess(name, ext, dir)
  if dir
    - var url ='/assets/portfolio/' + name + '.' + ext
  else 
    - var url ='/assets/portfolio/process/' + name + '.' + ext
  img.full(class!=attributes.class src= url data-action='zoom' data-original= url alt='Ideas')
    
mixin logo

  <svg width="46px" height="34px" viewBox="0 0 417 313" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Paul Ballas Logo</title>
  <desc>Created by Paul Ballas</desc>   
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="paul-ballas-copy" transform="translate(-191.000000, -143.000000)" fill="#FFFFFF">
            <g id="Group" transform="translate(191.000000, 143.000000)">
                <path d="M121.387478,140.718953 C110.391114,140.718953 91.3589467,143.677009 91.3589467,126.773832 C91.3589467,109.448075 110.391114,112.82871 121.387478,112.82871 C140.842583,112.82871 140.842583,84.5158879 121.387478,84.5158879 L71.4809047,84.5158879 C52.8716739,84.5158879 52.8716739,56.2030654 71.4809047,56.2030654 L121.387478,56.2030654 C178.061045,56.2030654 178.061045,140.718953 121.387478,140.718953 Z" id="p" transform="translate(110.708317, 98.560423) scale(-1, 1) translate(-110.708317, -98.560423) "></path>
                <path d="M193.515935,295.805607 C193.515935,314.399103 221.852718,314.399103 221.852718,295.805607 L221.852718,14.3677009 C221.852718,5.91611215 215.508663,0 207.895795,0 L96.2404108,0 C-31.9095193,0 -31.4865822,197.344598 96.2404108,197.344598 L136.842369,197.344598 L136.842369,295.805607 C136.842369,314.399103 165.602089,314.399103 165.602089,295.805607 L165.602089,182.976897 C165.602089,175.370467 158.835096,169.031776 151.222229,169.031776 L96.2404108,169.031776 C5.30894226,169.031776 5.30894226,27.890243 96.2404108,27.890243 L193.515935,27.890243 L193.515935,295.805607 Z" id="Path"></path>
                <path d="M221.182937,298.341084 C221.182937,316.934579 192.846154,316.934579 192.846154,298.341084 L192.846154,14.3677009 C192.846154,6.76127103 199.19021,0 206.803077,0 L318.458462,0 C376.400839,0 416.57986,45.6385794 416.57986,98.8835888 C416.57986,118.744822 411.504615,138.606056 399.239441,156.354393 C444.070769,221.431626 397.970629,312.708785 318.881399,312.708785 L263.89958,312.708785 C245.29035,312.708785 245.29035,283.973383 263.89958,283.973383 L318.881399,283.973383 C383.590769,283.973383 408.121119,204.951028 370.902657,166.918879 C354.408112,149.170542 388.243077,144.099589 388.243077,99.7287477 C388.243077,60.8514393 357.368671,28.7354019 318.458462,28.7354019 L221.182937,28.7354019 L221.182937,298.341084 Z" id="Path"></path>
                <path d="M313.383217,255.660561 C303.232727,255.660561 283.354685,258.618617 283.354685,241.29286 C283.354685,213.825196 328.186014,240.87028 328.186014,212.980037 C328.186014,204.528449 322.264895,198.612336 313.383217,198.612336 L263.89958,198.612336 C245.29035,198.612336 245.29035,170.722093 263.89958,170.722093 L313.383217,170.722093 C352.716364,170.722093 370.902657,216.783252 343.834685,243.405757 C336.221818,251.012187 325.648392,255.660561 313.383217,255.660561 Z" id="b"></path>
                <path d="M263.89958,85.3610467 C245.29035,85.3610467 245.29035,57.0482243 263.89958,57.0482243 L313.383217,57.0482243 C352.716364,57.0482243 370.902657,103.954542 343.834685,130.154467 C329.454825,144.099589 315.074965,142.409271 297.734545,142.409271 C279.125315,142.409271 279.125315,114.096449 297.734545,114.096449 C309.153846,114.096449 328.186014,117.054505 328.186014,99.7287477 C328.186014,91.6997383 322.264895,85.3610467 313.383217,85.3610467 L263.89958,85.3610467 Z" id="Path"></path>
            </g>
        </g>
    </g>
  </svg>

mixin email
  <svg title="Contact Paul by email" class="mw-2" width="66px" height="54px" viewBox="0 0 66 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
    <title>Contact Paul by email</title>
    <desc>Created by Paul Ballas</desc>    
    <g id="Artboard-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-45.000000, -140.000000)" stroke-linecap="round" stroke-linejoin="round">
      <g id="email" transform="translate(48.000000, 143.000000)" stroke="#FFFFFF" stroke-width="6">
        <path d="M6,0 L54,0 C57.3,0 60,2.7 60,6 L60,42 C60,45.3 57.3,48 54,48 L6,48 C2.7,48 0,45.3 0,42 L0,6 C0,2.7 2.7,0 6,0 Z" id="Shape"></path>
        <polyline id="Shape" points="60 6 30 27 0 6"></polyline>
      </g>
    </g>
  </svg>
  
mixin twitter
  <svg title="Contact Paul on Twitter" class="mw-2" width="72px" height="60px" viewBox="0 0 72 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    
    <title>Contact Paul on Twitter</title>
    <desc>Created by Paul Ballas</desc>    
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Artboard-3" transform="translate(-158.000000, -137.000000)" stroke="#FFFFFF" stroke-width="6">
            <g id="twitter" transform="translate(161.000000, 139.000000)">
                <path d="M66,1 C63.1271549,3.02643222 59.9463236,4.57632774 56.58,5.59 C52.8790786,1.33461338 46.9151099,-0.157657066 41.6462444,1.8533603 C36.3773789,3.86437767 32.9244008,8.95090262 33,14.59 L33,17.59 C22.2919945,17.8676572 12.1560759,12.7659115 6,4 C6,4 -6,31 21,43 C14.8215827,47.1938989 7.46147073,49.2967881 1.11022302e-15,49 C27,64 60,49 60,14.5 C59.9972373,13.6643609 59.9168925,12.8307832 59.76,12.01 C62.8218094,8.99047924 64.9824822,5.17813836 66,1 Z" id="Shape"></path>
            </g>
        </g>
    </g>
  </svg>
  
mixin linkedin
  <svg title="Contact Paul on linkedIn" class="mw-2" width="73px" height="71px" viewBox="0 0 73 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
    <title>Contact Paul on linkedIn</title>
    <desc>Created by Paul Ballas</desc>    
    <g id="Artboard-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-349.000000, -130.000000)">
      <g id="linkedin" transform="translate(352.000000, 133.000000)" stroke="#FFFFFF" stroke-width="4.75">
        <path d="M13.247015,62.9954497 C13.247015,64.2524038 12.3519464,65.1502282 11.0988504,65.1502282 L2.1481646,65.1502282 C0.895068583,65.1502282 0,64.2524038 0,62.9954497 L0,24.9276964 C0,23.6707423 0.895068583,22.7729179 2.1481646,22.7729179 L11.0988504,22.7729179 C12.3519464,22.7729179 13.247015,23.6707423 13.247015,24.9276964 L13.247015,62.9954497 Z" id="Shape" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M66.8360695,63.1750146 C66.8360695,64.2524038 65.9410009,65.1502282 64.8669186,65.1502282 L55.2001779,65.1502282 C54.1260956,65.1502282 53.2310271,64.2524038 53.2310271,63.1750146 L53.2310271,45.2185272 C53.2310271,42.525054 53.9470819,33.5468103 46.2494921,33.5468103 C40.3420395,33.5468103 39.0889435,39.6520161 38.9099297,42.525054 L38.9099297,63.1750146 C38.9099297,64.2524038 38.0148612,65.1502282 36.9407789,65.1502282 L27.6320656,65.1502282 C26.5579833,65.1502282 25.6629147,64.2524038 25.6629147,63.1750146 L25.6629147,24.7481315 C25.6629147,23.6707423 26.5579833,22.7729179 27.6320656,22.7729179 L36.9407789,22.7729179 C38.0148612,22.7729179 38.9099297,23.6707423 38.9099297,24.7481315 L38.9099297,27.9802992 C41.0580943,24.5685666 44.4593549,22.0546584 51.4408899,22.0546584 C67.0150832,22.0546584 66.8360695,36.5994132 66.8360695,44.5002677 L66.8360695,63.1750146 Z" id="Path" stroke-linecap="round" stroke-linejoin="round"></path>
        <ellipse id="Oval-5" cx="6.60606257" cy="6.70043489" rx="6.60606257" ry="6.70043489"></ellipse>
      </g>
    </g>
  </svg>
  
mixin github
  <svg title="Contact Paul on GitHub" class="mw-2" width="65px" height="70px" viewBox="0 0 65 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">      
    <title>Contact Paul on GitHub</title>
    <desc>Created by Paul Ballas</desc>    
    <g id="Artboard-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-251.000000, -132.000000)" stroke-linecap="round" stroke-linejoin="round">
      <g id="github" transform="translate(254.000000, 135.000000)" stroke="#FFFFFF" stroke-width="6">
        <path d="M21,55 C6,59.5 6,47.5 0,46 M42,64 L42,52.39 C42.2276494,49.4961919 41.2004734,46.6441394 39.18,44.56 C48.6,43.51 58.5,39.94 58.5,23.56 C58.4992301,19.371481 56.8880762,15.3435964 54,12.31 C55.3675676,8.64551964 55.270872,4.59504812 53.73,1 C53.73,1 50.19,-0.05 42,5.44 C35.1240272,3.57646523 27.8759728,3.57646523 21,5.44 C12.81,-0.05 9.27,1 9.27,1 C7.72912799,4.59504812 7.63243239,8.64551964 9,12.31 C6.09038134,15.366099 4.47756796,19.4303888 4.5,23.65 C4.5,39.91 14.4,43.48 23.82,44.65 C21.8238587,46.7126907 20.7986141,49.5266599 21,52.39 L21,64" id="Shape"></path>
      </g>
    </g>
  </svg>
  
mixin dribbble
  <svg title="Contact Paul on Dribbble" class="mw-2 fill" width="40px" height="40px" viewBox="0 0 287 287" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Contact Paul on Dribbble</title>
    <desc>Created by Paul Ballas</desc>    
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path id="dribble" d="M143.29,286.2 C64.29,286.2 0,222 0,143.11 C0,64.22 64.29,0 143.29,0 C222.29,0 286.56,64.21 286.56,143.11 C286.56,222.01 222.29,286.2 143.29,286.2 Z M264.12,162.7 C259.93,161.38 226.24,151.34 187.89,157.48 C198.296378,185.792431 206.252271,214.946195 211.67,244.62 C239.721871,225.732188 258.710024,196.080844 264.13,162.7 L264.12,162.7 Z M191.12,255.81 C185.370169,224.158699 176.624152,193.125741 165,163.13 L164.19,163.4 C95.19,187.4 70.38,235.23 68.19,239.72 C103.20571,266.969004 150.229413,273.125822 191.08,255.81 L191.12,255.81 Z M52.36,225 C55.13,220.26 88.72,164.72 151.84,144.35 C153.433333,143.836667 155.04,143.353333 156.66,142.9 C153.59,136 150.29,129 146.74,122.17 C85.62,140.44 26.29,139.67 21,139.56 C21,140.8 20.94,142.04 20.94,143.29 C20.9097952,173.482164 32.1090231,202.606572 52.36,225 Z M23.48,118.27 C28.95,118.34 79.37,118.56 136.62,103.38 C122.790606,79.019613 107.658671,55.4220743 91.29,32.69 C56.5578392,49.0413591 31.4802094,80.7057059 23.52,118.26 L23.48,118.27 Z M114.6,24.48 C131.366416,47.3028786 146.628713,71.1934335 160.29,96 C203.81,79.71 222.23,55 224.43,51.85 C194.503092,25.3217118 153.501588,15.0909384 114.62,24.45 L114.6,24.48 Z M238,66 C235.42,69.49 214.91,95.74 169.66,114.19 C172.51,120.01 175.24,125.93 177.78,131.89 C178.68,134.003333 179.56,136.106667 180.42,138.2 C221.14,133.09 261.6,141.28 265.64,142.13 C265.401611,114.339588 255.646336,87.4702276 238,66 Z" id="dribble" fill="#FFFFFF" fill-rule="nonzero">
        </path>
    </g>
  </svg>
