extends layout

block settings  
  - var slug = 'portfolio';
    
block content
  .mid-gray-bg
    .container
      .pad-top-sm
        .row.expertise
          .col-xs-12
            h3.m-b-half Expertise
          .col-md-3.col-xs-12
            h4.m-b-half Design
            ul
              li Card sorting
              li Persona creation
              li.m-b-half Wireframing
              li.mini Sketch, OmniGraffle, Axure
              li.m-b-half Vision design
              li.mini Illustrator, Photoshop
          .col-md-3.col-xs-12
            .m-b-4.hide-xs
            ul
              li.m-b-half Prototyping
              li.mini InVision, Framer
              li User research
              li User testing
              li Leading design thinking workshops
          .col-md-3.col-xs-12
            h4.m-b-half Code
            ul
              li HTML
              li CSS
              li SASS/SCSS
          .col-md-3.col-xs-12
            h4 Frameworks/Server
            ul
              li Node
              li Angular
              li React
              li Backbone
              
            
    .container
      .pad-container-sm
        .row
          .col-xs-12
            h3 Portfolio
            p.type-secondary.small I have worked on a variety of web and mobile applications in my 8 years of experience—everything from an iOS and Android app for the state of Texas to an internal web app for travel agents. Every project has challenged me and taught me something new. Below is a sample of a just a few of the many projects I was a part of.
        .space-2
        .row              
          each project in projects            
            .col-md-6.col-xs-12                                  
              a.port-body(href='/portfolio/' + project.url)
                p.m-b-xs-0 #{project.name}                  
                +imgBackground(project.url)(class='full')
